build_questions.ps1
fix_encoding.ps1
q&a.json
/.vs/coln/CopilotIndices/18.0.981.45449
/.vs/coln.slnx/copilot-chat/0397a888/sessions
/.vs/coln.slnx/FileContentIndex
/.vs/coln.slnx/v18
/.vs/CopilotSnapshots/E9FF44748CBC4040974C54E594BE887A
